
.cardzoom{
    transition:transform .6s ;
    background-color: 
    #e7e9ea;
    border-radius: 8px;
    margin: 5px;
}
.cardzoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(0.8); 
  }